@use "variables";

.homePage {

    section {
        // min-height: 100vh - variables.$header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heroSection {
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        .infoContainer {
            width: 50%;
        }
        .imageContainer {
            width: 50%;
        }
        .image {
            max-width: 100%;
        }
    }

    .stackSection {
        .stackContainer {
            display: flex;

        }
        .stackItemsContainer {
            width: 33%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: start;
            padding: variables.$big-gap;
            gap: variables.$big-gap;
        }
        .stackItemsContainer:not(:last-of-type) {
            border-right: variables.$border;
        }
        .stackItemContainer {
            display: grid;
            grid-template-rows: 70% 30%;
            grid-template-columns: 1fr;
            justify-content: center;
            width: 100px;
            height: 100px;
        }
        .stackImgContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }  
        .stackItemImg {
            max-width: 100%;
            max-height: 100%;
        }
        .stackItemName {
            text-align: center;
        }
    }

    .projectsSection {
        .projectsContainer {
            display: grid;
            grid-template-columns: max-content 1fr;
            height: 100%;
            flex-grow: 1;
        }
        .projectsList {
            display: flex;
            align-items: center;
            border-right: variables.$border;
            padding-right: variables.$big-gap;
        }
        .projectListItem {

        }
    }
    
    .experienceSection {
        .experienceContainer {
            display: grid;
            grid-template-columns: 1fr 10px 1fr;
            // grid-template-rows: repeat(auto, 1fr) [last];
            // grid-template-rows: minmax(1fr, auto) [last];
            column-gap: variables.$big-gap;
        }

        .experienceItemContainer {
            border-left: variables.$border;
            padding: variables.$big-gap;
            display: flex;
            justify-content: center;
            flex-direction: column;
            grid-column: 1 / 2;
            &.appliedMathematics {
                grid-row: 1 / 2;
                border-left: none;
                border-right: variables.$border;
                text-align: right;
            }
            &.computerScience {
                grid-row: 2 / 6;
                grid-column: 3 / 4;
            }
            &.hotel {
                grid-row: 6 / 10;
                border-left: none;
                border-right: variables.$border;
                text-align: right;
            }
            &.wordpress {
                grid-row: 8 / 10;
                grid-column: 3 / 4;
            }
            &.javascript {
                // The grid-row-end is hard coded at the moment (12). Because of this you will need to update it for each new year. Find a way to make it span to the last line. You tried -1 and naming the line but those didn't work as expected.
                grid-row: 10 / 12;
                grid-column: 3 / 4;
            }
        }
        .timelineYear {
            grid-column: 2 / 3;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: variables.$border;
        }
    }

    .aboutSection {

        .aboutContainer {
            display: flex;
            gap: variables.$big-gap;
            align-items: center;
        }
        .aboutImageContainer {
            flex-basis: 500px;
        }
        .aboutImage {
            width: 100%;
        }
        .aboutInfoContainer {
            display: flex;
            flex-direction: column;
            gap: variables.$big-gap;
        }
    }

    .contactSection {
        .contactContainer {
            display: flex;
            gap: variables.$big-gap;
        }
        .contactForm {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: variables.$medium-gap;
        }
        .legalConsentCheckboxContainer {
            gap: variables.$medium-gap;
            display: none;
        }
        .legalConsentCheckboxContainer.active {
            display: flex;
        }
        .legalConsentCheckbox {
            width: 30px;
            height: 30px;
        }
        .contactLink {
            display: block;
        }
        .reCaptcha {
            transition: variables.$transition;
            display: none;
        }
        .reCaptcha.active {
            display: block;
        }
    }
}