@use "variables";


.homePage {

    section {
        min-height: 100vh - variables.$header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heroSection {
    }

    .stackSection {
        .stackContainer {
            display: flex;
        }
        .stackItemsContainer {
            width: 33%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: variables.$big-gap;
            gap: variables.$big-gap;
            height: 100%;
        }
        .stackItemsContainer:not(:last-of-type) {
            border-right: variables.$border;
        }
        .stackItemContainer {
            display: grid;
            grid-template-rows: 70% 30%;
            grid-template-columns: 1fr;
            justify-content: center;
            width: 100px;
            height: 100px;
        }
        .stackImgContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }  
        .stackItemImg {
            max-width: 100%;
            max-height: 100%;
        }
        .stackItemName {
            text-align: center;
        }
    }

    .projectsSection {
        .projectsContainer {
            display: grid;
            grid-template-columns: max-content 1fr;
            height: 100%;
            flex-grow: 1;
        }
        .projectsList {
            display: flex;
            align-items: center;
            border-right: variables.$border;
            padding-right: variables.$big-gap;
        }
        .projectListItem {

        }
    }
    
    .experienceSection {
        align-items: center;
        .experienceContainer {
            flex-grow: 1;
            width: 600px;
            display: flex;
            gap: variables.$big-gap;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
        }
        .experienceItemContainer {
            border: variables.$border;
            width: 400px;
            min-height: 150px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .experienceItemContainer:nth-of-type(2n) {
            align-self: end;
        }
    }
}