    $header-height: 10vh;
    $big-gap: 32px;
    $medium-gap: 16px;
    $small-gap: 8px;
    $max-content-width: 1200px;
    $side-padding-for-sections: max(5vw, calc((100vw - $max-content-width) / 2));

    $primary: #00658d;
    $on-primary: #ffffff;
    $primary-container: #c6e7ff;
    $on-primary-container: #001e2d;

    $background: #fafcff;
    $on-background: #001f2a;

    $surface: #fafcff;
    $on-surface: #1f1a1c;

    $surface-variant: #dde3ea;
    $on-surface-variant: #41484d;

    $outline: #71787e;

    $surface-transparent: #8d8d8d69;
    
    $blur: 10px;

    $border: 1px solid $outline;
    $border-radius: 0;

    $font-family-1: "Arial";
    $font-family-2: "Arial";

    $transition: all .5s ease-in-out;
    $transition-slow: all 1.5s ease-in-out;

    $shadow: 5px 5px 5px 5px black;